<div class="hub-container">
    <div class="hub-menu">
        <button id="pending" routerLink="/merchant/booking-hub/pending">Pending</button>
        <button id="accepted" routerLink="/merchant/booking-hub/accepted">Accepted</button>
        <button id="ongoing" routerLink="/merchant/booking-hub/ongoing">On-going</button>
        <button id="completed" routerLink="/merchant/booking-hub/completed">Completed</button>
        <button id="refunded" routerLink="/merchant/booking-hub/refunded">Refunded</button>
    </div>
    <router-outlet>

    </router-outlet>

</div>
