@import '../../../../../src/styles.scss';
@import '../../../app.component.scss';

::ng-deep .top-nav .nav-menu a#booking-hub{
    font-weight: bold !important;
}
.hub-container{
    height: 89vh;
    width: 80%;
    margin: 0 auto;
}
.hub-container .hub-menu{
    display: flex;
    align-items: flex-end;
    min-height: 42px;
}
.hub-container .hub-menu button{
    color: $tpc;
    font-size: 14px;
    padding: 7px 40px;
    max-width: none !important;
    background-color: #E7E7E7;
    //box-shadow: 4px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 35px 35px 0px 0px;
    border: none;
    box-shadow: none;
}
.hub-container .filter-bar{
    width: 100%;
    color: $tpc;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.10);
    border-radius: 0px 15px 0px 0px;
}
.hub-container .filter-bar .f-b{
    padding: 16px 30px 16px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hub-container .filter-bar input#search{
    width: 30%;
    background-color: #F2F2F2;
    margin-left: 15px;
}
.date-range {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 3%;
  }
  .date-range input[type="date"] {
    padding: 5px;
    font-size: 14px;
    background-color: #F2F2F2;
  }
.hub-container .filter-bar input::placeholder{
    font-style: italic;
}
.hub-container .filter-bar button{
    background-color: $mpc;
    margin-left: 3%;
}
.hub-container .filter-bar i{
    font-size: 30px;
    margin-left: auto;
}
.hub-container .filter-bar .subtract{
    position: static;
    bottom: 0;
    background-color: #f1f1f1;
    height: 18px;
    width: 100%;
    //border: 1px solid #000;
    border-radius: 20px 20px 0px 0px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #f1f1f1;
}

.hub-container .data-container{
    height: 75vh;
    width: 100%;
    padding: 0 15px;
}
.hub-container .data-container .table-box{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

}
