<p>Password Reset</p>
<div class="modal-background">
  <div class="modal-container">
    <h3>Reset Password</h3>
    <form (ngSubmit)="submitPasswordReset()">
 
      <!-- Displaying the Username (also read-only) -->
      <label for="username">Username</label>
      <input type="text" [(ngModel)]="admin.username" name="username" id="username" required [readonly]="true" /> <!-- Make it read-only so the user can't modify the username -->

         <!-- Displaying the Old Password -->
        <label for="oldPassword">Old Password</label>
        <div id="password" class="password" name="password">{{ admin.password }}</div>


      <!-- New Password -->
      <label for="newPassword">New Password</label>
      <input 
        type="password" 
        placeholder="New Password" 
        [(ngModel)]="newPassword" 
        name="newPassword" 
        required />

      <!-- Confirm Password -->
      <label for="confirmPassword">Confirm Password</label>
      <input 
        type="password" 
        placeholder="Confirm Password" 
        [(ngModel)]="confirmPassword" 
        name="confirmPassword" 
        required />

      <!-- Submit Button -->
      <button type="submit">Save Password</button>
      <button type="button" (click)="closeModal.emit()">Close</button>
    </form>
  </div>
</div>
