<div class="options">
  <button (click)="showRooms()">Rooms</button>
  <button (click)="showTransportation()">Transportation</button>
</div>

<!-- Room Listing Tab Hub -->
<div class="listinghub" *ngIf="isRoomsVisible" id="rooms">
  <div class="container">
    <div class="button-container">
      <button class="add-room-button" (click)="openAddRoomModal()">+ Add Room</button>
    </div>
    <table class="listing-table">
      <thead>
        <tr>
          <th>Room Name</th>
          <th>No. of Rooms</th>
          <th>No. of Guests</th>
          <th>Room Rate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms">
          <td>{{ room.RoomName }}</td>
          <td>{{ room.RoomQuantity }}</td>
          <td>{{ room.GuestPerRoom }}</td>
          <td>₱ {{ room.RoomRate | number: '1.2-2' }}</td>
          <td class="actions">
            <button class="action-button update-button" (click)="openUpdateRoomModal(room)">Update</button>
            <button class="action-button remove-button" (click)="deleteRoom(room)">Remove</button>
            <button class="action-button view-button" (click)="viewRoom(room)">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Add Room Modal -->
<div *ngIf="showAddRoomModal" class="modal add-room-modal">
  <div class="modal-content">
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%;">
      <h5>Add New Room</h5>
      <span class="close-button" (click)="closeAddRoomModal()">&times;</span>
    </div>
    <form [formGroup]="roomForm" (ngSubmit)="addRoom()" class="flex-column">
      <div class="form-container">
        <!-- Left Column -->
        <div class="column border-bottom" >
          <div class="d-flex flex-row gap-3">
            <div class="form-group">
              <label for="RoomName">Room Name</label>
              <input id="RoomName" formControlName="RoomName" type="text" placeholder="Room Name" required />
            </div>
            <div class="form-group">
              <label for="RoomQuantity">No. of Rooms</label>
              <input id="RoomQuantity" formControlName="RoomQuantity" type="number" placeholder="Number of Rooms" required />
            </div>
          </div>
          <div class="d-flex flex-row gap-3">
            <div class="form-group">
              <label for="GuestPerRoom">No. of Guests</label>
              <input id="GuestPerRoom" formControlName="GuestPerRoom" type="number" placeholder="Guests per Room" required />
            </div>
            <div class="form-group">
              <label for="RoomRate">Room Rate (₱)</label>
              <input id="RoomRate" formControlName="RoomRate" type="number" placeholder="Room Rate" required />
            </div>
          </div>
        </div>
        
        <div class="column">

          <!-- Views -->
          <div class="form-group">
            <label for="Views">Views</label>
            <div class="views-grid">
              <div *ngFor="let view of views">
                <input 
                  type="checkbox" 
                  [id]="view.ViewID" 
                  [value]="view.ViewID" 
                  (change)="onViewSelectionChange(view.ViewID, $event)"
                />
                <label [for]="view.ViewID">{{ view.ViewName }}</label>
              </div>
            </div>
          </div>

          <!-- Inclusions -->
          <div class="form-group">
            <label for="Inclusions">Inclusions</label>
            <div class="inclusions-grid">
              <div *ngFor="let inclusion of inclusions">
                <input 
                  type="checkbox" 
                  [id]="inclusion.InclusionID" 
                  [value]="inclusion.InclusionID" 
                  (change)="onInclusionSelectionChange(inclusion.InclusionID, $event)"
                />
                <label [for]="inclusion.InclusionID">{{ inclusion.InclusionName }}</label>
              </div>
            </div>
          </div>



        </div>
        <div class="column">
          <!-- Room Gallery -->
          <div class="form-group">
            <label for="RoomGallery">Room Gallery</label>
            <input 
              id="RoomGallery" 
              formControlName="RoomGallery" 
              type="file" 
              accept="image/*" 
              multiple 
              (change)="onFileChange($event)" 
              required />

            <div *ngIf="galleryFiles.length > 0" class="image-preview-container">
              <div *ngFor="let file of galleryFiles; let i = index" class="image-preview-box">
                <img [src]="file.preview" alt="Image preview {{i + 1}}" class="image-preview" />
              </div>
              <small *ngIf="galleryFiles.length < 3">You need at least 3 pictures.</small>
              <small *ngIf="galleryFiles.length > 10">You can upload up to 10 pictures only.</small>
            </div>
              
          </div>
        </div>
      </div>
      <button type="submit" class="add-room-submit-button" [disabled]="roomForm.invalid">Add Room</button>
    </form>
  </div>
</div>

<!-- Update Room Modal -->
<div *ngIf="showUpdateRoomModal" class="modal update-room-modal">
  <div class="modal-content">
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%;">
      <h5>Update Room #{{ viewRoomData.RoomID }}</h5>
      <span class="close-button" (click)="closeUpdateRoomModal()">&times;</span>
    </div>
    <form [formGroup]="roomForm" (ngSubmit)="updateRoom()" class="flex-column">
      <div class="form-container">

        <!-- Room Details -->
        <div class="column border-bottom">
          <div class="d-flex flex-row gap-3">
            <div class="form-group">
              <label for="RoomName">Room Name</label>
              <input id="RoomName" formControlName="RoomName" type="text" placeholder="Room Name" required />
            </div>
            <div class="form-group">
              <label for="RoomQuantity">No. of Rooms</label>
              <input id="RoomQuantity" formControlName="RoomQuantity" type="number" placeholder="Number of Rooms" required />
            </div>
          </div>
          <div class="d-flex flex-row gap-3">
            <div class="form-group">
              <label for="GuestPerRoom">No. of Guests</label>
              <input id="GuestPerRoom" formControlName="GuestPerRoom" type="number" placeholder="Guests per Room" required />
            </div>
            <div class="form-group">
              <label for="RoomRate">Room Rate (₱)</label>
              <input id="RoomRate" formControlName="RoomRate" type="number" placeholder="Room Rate" required />
            </div>
          </div>
        </div>

        <!-- Views -->
        <div class="form-group">
          <label for="Views">Views</label>
          <div class="views-grid">
            <div *ngFor="let view of views">
              <input 
                type="checkbox" 
                [id]="'view-' + view.ViewID" 
                [value]="view.ViewID" 
                [checked]="selectedViews.includes(view.ViewID.toString())"
                (change)="onViewSelectionChange(view.ViewID, $event)" 
              />
              <label [for]="'view-' + view.ViewID">{{ view.ViewName }}</label>
            </div>
          </div>
        </div>

        <!-- Inclusions -->
        <div class="form-group">
          <label for="Inclusions">Inclusions</label>
          <div class="inclusions-grid">
            <div *ngFor="let inclusion of inclusions">
              <input 
                type="checkbox" 
                [id]="'inclusion-' + inclusion.InclusionID" 
                [value]="inclusion.InclusionID" 
                [checked]="selectedInclusions.includes(inclusion.InclusionID.toString())"
                (change)="onInclusionSelectionChange(inclusion.InclusionID, $event)" 
              />
              <label [for]="'inclusion-' + inclusion.InclusionID">{{ inclusion.InclusionName }}</label>
            </div>
          </div>
        </div>

        <!-- Room Gallery -->
        <p><strong>Existing RoomGallery:</strong></p>
        <div *ngIf="viewRoomData.Gallery?.length" class="room-gallery">
          <div class="room-image">
            <img *ngFor="let image of viewRoomData.Gallery" [src]="'data:image/jpeg;base64,' +image" alt="Room Image">
          </div>
        </div>
        <div class="form-group">
          <label for="RoomGallery">Update Room Gallery</label>
          <input 
            id="RoomGallery" 
            type="file" 
            accept="image/*" 
            multiple 
            (change)="onFileChange($event)" 
          />
          <div *ngIf="galleryFiles.length > 0" class="image-preview-container">
            <div *ngFor="let file of galleryFiles" class="image-preview-box">
              <img [src]="file.preview || file" alt="Image preview" class="image-preview" />
            </div>
          </div>
        </div>

      </div>
      <button type="submit" class="add-room-submit-button" [disabled]="roomForm.invalid">Update Room</button>
    </form>
  </div>
</div>

<!-- View Room Modal -->
<div *ngIf="showViewRoomModal" class="modal view-room-modal">
  <div class="modal-content">
    <div class="d-flex flex-row justify-content-between">
      <h4>Room Details</h4>
      <span class="close-button" (click)="closeViewRoomModal()">&times;</span>
    </div>
    <div *ngIf="viewRoomData">
      <div class="border-bottom mb-2 py-2">
        <div class="d-flex flex-row gap-3">
          <label class="w-25">Room Name: </label>
          <p>{{ viewRoomData.RoomName }}</p>
        </div>
        <div class="d-flex flex-row gap-3">
          <label class="w-25">No of availbale rooms: </label>
          <p>{{ viewRoomData.RoomQuantity }}</p>
        </div>
        <div class="d-flex flex-row gap-3">
          <label class="w-25">Guest Allowed: </label>
          <p>{{ viewRoomData.GuestPerRoom }}</p>
        </div>
        <div class="d-flex flex-row gap-3">
          <label class="w-25">Room Rate: </label>
          <p>{{ viewRoomData.RoomRate | number: '1.2-2' }}</p>
        </div>
      </div>

      <div class="border-bottom mb-2 py-1">
        <p><strong>Inclusions:</strong></p>
        <ul *ngIf="viewRoomData.Inclusions?.length" class="px-4">
            <li *ngFor="let inclusion of viewRoomData.Inclusions">
              <div class="d-flex flex-row gap-3">
              <label class="w-25">{{ inclusion.InclusionName }}:</label> <p>{{ inclusion.InclusionDescription }}</p>
              </div>
            </li>
        </ul>
      </div>

      <div class="border-bottom mb-2 py-1">
        <p><strong>Views:</strong></p>
          <div class="d-flex flex-row gap-2 w-100 py-2" style="overflow-x: auto; overflow-y: hidden;" *ngIf="viewRoomData.Views?.length">
            <div *ngFor="let view of viewRoomData.Views">
              <span class="view-span">{{ view.ViewName }}</span>
            </div>
          </div>
      </div>

      <p><strong>Gallery:</strong></p>
      <div *ngIf="viewRoomData.Gallery?.length" class="room-gallery">
        <div class="room-image">
          <img *ngFor="let image of viewRoomData.Gallery" [src]="'data:image/jpeg;base64,' +image" alt="Room Image">
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Transportation Listing Tab Hub -->
<div class="listinghub" *ngIf="isTransportationVisible" id="transportation">
  <div class="container">
    <div class="button-container">
      <button class="add-vehicle-button" (click)="openAddVehicleModal()">+ Add Vehicle</button>
    </div>
    <table class="transportation-table">
      <thead>
        <tr>
          <th>Vehicle Name</th>
          <th>Model</th>
          <th>Brand</th>
          <th>Capacity</th>
          <th>Rental Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>{{ vehicle.VehicleName }}</td>
          <td>{{ vehicle.Model }}</td>
          <td>{{ vehicle.Brand }}</td>
          <td>{{ vehicle.Capacity }}</td>
          <td>₱ {{ vehicle.RentalPrice | number: '1.2-2' }}</td>
          <td class="actions">
            <button class="action-button update-button" (click)="openUpdateVehicleModal(vehicle)">Update</button>
            <button class="action-button remove-button" (click)="deleteVehicle(vehicle)">Remove</button>
            <button class="action-button view-button" (click)="viewVehicle(vehicle)">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Add Vehicle Modal -->
<div *ngIf="showAddVehicleModal" class="modal">
  <div class="modal-content">
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%;">
      <h4>Add New Vehicle</h4>
      <span class="close-button" (click)="closeAddVehicleModal()">&times;</span>
    </div>
    <form [formGroup]="vehicleForm" (ngSubmit)="addVehicle()" class="flex-column">
      <div class="column">
        <div class="form-group">
          <label for="VehicleName">Vehicle Name</label>
          <input id="VehicleName" formControlName="VehicleName" type="text" placeholder="Vehicle Name" required />
        </div>
        <div class="form-group">
          <label for="Model">Model</label>
          <input id="Model" formControlName="Model" type="text" placeholder="Model" required />
        </div>
        <div class="form-group">
          <label for="Brand">Brand</label>
          <input id="Brand" formControlName="Brand" type="text" placeholder="Brand" required />
        </div>
        <div class="form-group">
          <label for="Capacity">Capacity</label>
          <input id="Capacity" formControlName="Capacity" type="number" placeholder="Capacity" required />
        </div>
        <div class="form-group">
          <label for="RentalPrice">Rental Price (₱)</label>
          <input id="RentalPrice" formControlName="RentalPrice" type="number" placeholder="Rental Price" required />
        </div>
        <!-- Vehicle Gallery -->
        <div class="form-group full-width">
          <label for="addVehicleGallery">Vehicle Gallery</label>
          <input 
            id="addVehicleGallery" 
            formControlName="VehicleGallery" 
            type="file" 
            accept="image/*" 
            multiple 
            (change)="onFileChange($event)" 
            required />
            <div *ngIf="galleryFiles.length > 0" class="image-preview-container">
              <div *ngFor="let file of galleryFiles; let i = index" class="image-preview-box">
                <img [src]="file.preview" alt="Image preview {{i + 1}}" class="image-preview" />
              </div>
              <small *ngIf="galleryFiles.length < 3">You need at least 3 pictures.</small>
              <small *ngIf="galleryFiles.length > 10">You can upload up to 10 pictures only.</small>
            </div>
            
        </div>
      </div>
      <button type="submit" class="add-vehicle-submit-button" [disabled]="vehicleForm.invalid">Add Vehicle</button>
    </form>
  </div>
</div>

<!-- Update Vehicle Modal -->
<div *ngIf="showUpdateVehicleModal" class="modal update-vehicle-modal">
  <div class="modal-content">
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%;">
      <h4>Update Vehicle</h4>
      <span class="close-button" (click)="closeUpdateVehicleModal()">&times;</span>
    </div>

    <form [formGroup]="updateForm" (ngSubmit)="updateVehicle()" class="flex-column">
      <div class="form-grid">
        <div class="form-group">
          <label for="updateVehicleName">Vehicle Name</label>
          <input id="updateVehicleName" formControlName="VehicleName" type="text" placeholder="Vehicle Name" required />
        </div>
        <div class="form-group">
          <label for="updateModel">Model</label>
          <input id="updateModel" formControlName="Model" type="text" placeholder="Model" required />
        </div>
        <div class="form-group">
          <label for="updateBrand">Brand</label>
          <input id="updateBrand" formControlName="Brand" type="text" placeholder="Brand" required />
        </div>
        <div class="form-group">
          <label for="updateCapacity">Capacity</label>
          <input id="updateCapacity" formControlName="Capacity" type="number" placeholder="Capacity" required />
        </div>
        <div class="form-group">
          <label for="updateRentalPrice">Rental Price (₱)</label>
          <input id="updateRentalPrice" formControlName="RentalPrice" type="number" placeholder="Rental Price" required />
        </div>
        <!-- Vehicle Gallery -->
        <div class="form-group full-width">
          <label for="updateVehicleGallery">Vehicle Gallery</label>
          <input 
            id="updateVehicleGallery" 
            formControlName="VehicleGallery" 
            type="file" 
            accept="image/*" 
            multiple 
            (change)="onFileChange($event)" 
            required />
            <div *ngIf="galleryFiles.length > 0" class="image-preview-container">
              <div *ngFor="let file of galleryFiles; let i = index" class="image-preview-box">
                <img [src]="file.preview" alt="Image preview {{i + 1}}" class="image-preview" />
              </div>
              <small *ngIf="galleryFiles.length < 3">You need at least 3 pictures.</small>
              <small *ngIf="galleryFiles.length > 10">You can upload up to 10 pictures only.</small>
            </div>            
        </div>
      </div>
      <button type="submit" class="update-vehicle-submit-button" [disabled]="updateForm.invalid">Update Vehicle</button>
    </form>
  </div>
</div>

<!-- View Vehicle Modal -->
<div *ngIf="showViewVehicleModal" class="modal view-vehicle-modal">
  <div class="modal-content">
    <span class="close-button" (click)="closeViewVehicleModal()">&times;</span>
    <h4>Vehicle Details</h4>
    <p><strong>Gallery:</strong> {{ viewRoomData?.RoomName }}</p>
    </div>
  </div>