@import '../../../../src/styles.scss';
@import '../../app.component.scss';

::ng-deep .sidebar li#generate-analytics{
    pointer-events: none !important;
}
::ng-deep .sidebar li#generate-analytics i{
    color: $admin-primary-color !important;
}
::ng-deep .sidebar li#generate-analytics a{
    background-color: #fff;
}
::ng-deep .sidebar li#generate-analytics .links_name{
    color: $admin-primary-color;
    pointer-events: none !important;
}
.text{
    display: inline-block;
    color: $admin-primary-color;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}