<div class="top-utility">
    <h3 style="font-family: 'Playwrite GB S', sans-serif;">iWanderPH</h3>
    <i class='bx bx-menu' id="settings" [routerLink]="['/traveler/settings']"></i>
</div>

<div class="p-j">
    <div class="profile-container">
        <img *ngIf="profile.ProfilePic" [src]="getProfilePicture()" alt="Profile Picture" class="profile-picture">
        <div *ngIf="!profile.ProfilePic" class="profile-picture">No Profile Picture</div>
    </div>
    <div class="profile-container">
        <div class="profile-journey">
            <span id="num_journey">{{ journeys }}</span>
            <span id="journey_label">Journeys</span>
        </div>
    </div>
</div>
<div class="p-b">
    <div class="names">
        <span id="name">{{ profile.FirstName }} {{ profile.LastName }}</span>
        <span id="username">&#64;{{ profile.Username }}</span>
    </div>
    <div class="bio">
        <span id="bio">{{ profile.Bio }}</span>
    </div>
</div>

<div class="profile-tabs">
    <span (click)="toggleTab('reviews')">Reviews</span>
    <span (click)="toggleTab('journeys')">Journeys</span>
</div>

<div class="tabs">
  <div class="review-tab" [class.active]="activeTab === 'reviews'" [class.slide-out-left]="activeTab !== 'reviews'">
      <div class="review-post" *ngFor="let review of reviews">
          <div class="u-d">
            <img *ngIf="profile.ProfilePic" [src]="getProfilePicture()" alt="Profile Picture" class="pp-mini">
            <span id="username">{{ profile.Username }}</span>
          </div>
          <div #carousel class="review-images">
            <div class="carousel">
              <div class="carousel-inner">
                <div *ngFor="let image of review.images; let i = index" class="carousel-item" [ngClass]="{'active': i === currentIndex}">
                  <img [src]="'data:image/jpeg;base64,' + image" alt="Review Image">
                </div>
              </div>
              <!-- Add navigation buttons -->
              <button class="carousel-prev" [disabled]="review.images.length === 1 || currentIndex === 0" (click)="prevImage()">
                <i class='bx bx-chevron-left'></i>
              </button>
              <button class="carousel-next" [disabled]="review.images.length === 1 || currentIndex === review.images.length - 1" (click)="nextImage()">
                <i class='bx bx-chevron-right'></i>
              </button>
            </div>
          </div>
            
          <div class="review-details">
            <div class="likes">
              <i class='bx bx-heart'></i><span>{{ review.likes }}</span>
              <i class='bx bx-message-square-dots'></i><span>{{ review.comments }}</span>
              <div class="rating">
                  <ng-container *ngFor="let star of createArray(5); let i = index">
                      <i class='bx bxs-star' *ngIf="i < review.rating"></i>
                      <i class='bx bx-star' *ngIf="i >= review.rating"></i>
                    </ng-container>
              </div>
            </div>
            <div class="caption">
              <span>{{ review.comment }}</span>
              <a href="#">View {{ review.comments }} comment{{ review.comments !== 1 ? 's' : '' }} here</a>
            </div>
          </div>
        </div>
      
      <!-- review tab content -->
  </div>
    
    <div class="journey-tab" [class.active]="activeTab === 'journeys'" [class.slide-out-right]="activeTab !== 'journeys'">
        <!-- journey tab content -->
    </div>
</div>


