@import '../../../../src/styles.scss';
@import '../../app.component.scss';

.settings-panel, .favorites-panel{
    z-index: 1000 !important;
}
.p-j{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-container {
    width: 84px;
    height: 84px;
    border: 1px solid $tpc;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture {
    width: 100%;
    height: auto;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}
.profile-journey {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-journey span#num_journey{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}
.profile-journey span#journey_label{
    font-size: 0.8em;
    line-height: 1;
}
.p-b{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.names{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    margin-top: 9px;
}
#name{
    font-size: 13px;
    font-weight: 500;
}
#username {
    font-size: 11px;
    margin-left: 8px;
    flex: 1; 
}
.bio{
    text-align: center;
    font-size: 11px;
    max-width: 90%;
}

.profile-tabs{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32px;
    margin-top: 20px;
}
.profile-tabs span{
    width: 50%;
    text-align: center;
    border-bottom: 0.5px solid $tpc;
}
.tabs{
    max-height: 500px;
    color: #353535;
}
.review-tab, .journey-tab {
    position: fixed;
    transition: transform 0.5s ease-in-out;
}
.review-tab.active {
    transform: translateX(0);
}
.review-tab.slide-out-left {
    transform: translateX(-100%);
}
.journey-tab.active {
    transform: translateX(0);
}
.journey-tab.slide-in-right {
    transform: translateX(0);
}
.journey-tab.slide-out-right {
    transform: translateX(100%);
}

.menu-container {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}
.u-d {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure spacing between elements */
    padding: 5px 10px;
}
.menu-container {
    position: relative;
}

.menu-icon {
    cursor: pointer;
    font-size: 20px;
}

.dropdown-menu {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 80px;
    z-index: 100;
}

.dropdown-menu span {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.dropdown-menu span:hover {
    background-color: #f2f2f2;
}

.pp-mini{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-details {
    padding: 5px 10px;
    color: #353535;
}
.review-details .likes {
    display: flex;
    align-items: center;
    gap: 8px;


    .like-count {
        font-size: 14px;
        color: #353535;
    }

    .bx-message-square-dots, .comment-count {
        font-size: 20px;
        color: #b3b3b3;
        margin-left: 8px;
    }

    .comment-count {
        font-size: 14px;
        color: #353535;
    }
}
.likes .bxs-heart {
    color: #b3b3b3; // Default color (unliked)
    transition: color 0.3s ease;
}

.likes .bxs-heart.liked {
    color: #ff0000; // Red color when liked
}




    .rating {
      margin-left: auto;
      display: flex;
  
      i {
        font-size: 18px;
        color: #f4c542;
        &:not(.bx-star) {
          color: #f4c542; // Inactive star color
        }
      }
    }
  
    .caption {
      margin-top: 4px;
      font-size: 14px;
      line-height: 1.4;
      color: #4a4a4a;
  
      a {
        font-size: 12px;
        color: #4a4a4a;
        text-decoration: underline;
  
        &:hover {
          color: #353535;
        }
      }
    }

  
/* Mobile view (up to 480px) */
@media (max-width: 480px) { 
    .p-b{

        .options{
            width: 100%;
            gap: 10px;
            padding: 0 20px;
            margin-top: 5px;
        }
        button{
            padding: 5px 0;
            width: 100%;
            box-shadow: none;
            background-color: #e8e8e8 !important;
            border-radius: 8px;
            &:hover{
                background-color: #373737;
            }
        }
    }
    .settings{
        display: none;
    }
    .top-utility{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 52px;
        //border-bottom: 1px solid #ccc;
        padding: 10px 12px;
    }
    .top-utility .logo{
        width: 132px;
    }
    .top-utility i{
        font-size: 28px;
        margin-left: auto;
    }

    .p-j{
        gap: 15px;
        margin-top: 15px;
    }
    .review-tab, .journey-tab {
        width: 100%;
        height: calc(100% - 300px);
        padding: 0 15px;
        overflow: auto;
    }
    .review-images {
        border: 1px solid  #ccc;
        max-height: 460px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      
      .review-images {
        max-width: 358px;
        overflow: hidden;
        display: flex;
      }
      
      ::ng-deep .review-images button {
        min-width: 0;
        min-height: 0;
        padding: 0;
        border-radius: 50%;
        font-size: 24px;
        line-height: 0;
        color: #353535;
      }
      
      .review-images img {
        width: 100%;
        object-fit: cover;
      }
      
      .carousel {
        position: relative;
        overflow: hidden;
      }
      
      .carousel-inner {
        display: flex;
        transition: none;
        width: 100%;
      }
      
      .carousel-item {
        flex: 0 0 100%;
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateX(100%); /* initial position */
        transition: opacity 0.5s ease, transform 0.5s ease-out; /* updated transition */
      }
      
      .carousel-item.active {
        display: block;
        transform: translateX(0); /* active state */
      }
      
      .carousel-item.prev {
        transform: translateX(-100%); /* prev state */
      }
      
      .carousel-item.next {
        transform: translateX(100%); /* next state */
      }
      
      .carousel-prev, .carousel-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
      }
      
      .carousel-prev {
        left: 10px;
      }
      
      .carousel-next {
        right: 10px;
      }
      
      .carousel-prev[disabled], .carousel-next[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }

}
/* Desktop view (above 1025px) */
@media (min-width: 1025px) {
    ::ng-deep .top-utility{
        display: none;
    }
    ::ng-deep .nav-item#profile{
        background-color: #f3f3f3;
        i, span{
            color: #000;
            font-weight: 500;
        }
    }
      
    .p-j{
        gap: 20px;
        margin-top: 15px;
    }
    .tabs{
        width: calc(100% - 320px);
        z-index: 1;
    }
    .review-tab, .journey-tab {
        width: calc(100% - 320px);
        height: 100%;
        padding: 10px 0;
        display: flex;
        overflow: auto;
    }
    .review-post{
        width: 500px;
        margin: 0 auto;
        position: relative;
    }

}
.completed-booking {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.199);
    background-color: #fff;
    margin-bottom: 20px;
    
    img.merchant-profile-picture {
        width: 100%;
        max-width: 600px; // Adjust this as needed
        height: 100px;
        margin-bottom: 15px;
        object-fit: cover;
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
        color: #333;
        margin: 0;
        padding-left: 10px;
    }

    p {
        padding-left: 10px;
        margin: 5px 0;
        font-size: 12px;
        color: #666;
        display: flex;
        text-align: justify;

        &::before {
            content: '';
            margin-right: 8px;
            font-size: 1.2em;
            color: #333;
        }
    }

    // Specific icons for each field
    p:nth-of-type(1)::before {
        content: '\2709'; // Unicode for envelope icon
    }

    p:nth-of-type(2)::before {
        content: '\260E'; // Unicode for phone icon
    }

    p:nth-of-type(3)::before {
        content: '\1F4CD'; // Unicode for location pin icon
    }
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;

    h2{
        font-size: 25px;
        text-align: center;
        padding: 15px;
    }
    label{
        font-size: 18px;
        margin-bottom: 10px;
    }
    #editComment {
        width: 100%;
        height: 100px;
        padding: 10px;
        font-size: 16px;
        font-family: Arial, sans-serif;
        color: #333;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical; /* Allow resizing only vertically */
    }
    
    #editComment::placeholder {
        color: #aaa;
        font-style: italic;
    }
    
    #editComment:focus {
        border-color: #063D3C;
        outline: none;
        box-shadow: 0 0 5px rgba(6, 61, 60, 0.5);
    }
    .button-container {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 10px;
    }

    button {
        background-color: #063D3C;
        color: white;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .comment{
        padding-left: 10px;
    }
    p{
        text-align: center;
    }
    .button-confirm{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }
}

.close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}

//end