<div class="top-nav">
    <h2>iWanderPH Merchant</h2>
    <div class="nav-menu">
        <a routerLink="/merchant/booking-hub" id="booking-hub">Booking Hub</a>
        <a routerLink="/merchant/listings">Listings</a>
        <a routerLink="/merchant/finance">Finance</a>
        <a routerLink="/merchant/analytics">Analytics</a>
    </div>
    <div class="nav-profile">
        <h3>{{ profile.businessName }}</h3>
        <div class="profile-picture">
            <img *ngIf="profile.profilePicture" [src]="'data:image/jpeg;base64,' + profile.profilePicture" alt="Profile Picture" />
            <p *ngIf="!profile.profilePicture">No Profile Picture Available</p>
        </div>
    </div>
</div>
<div class="home-section">
    <router-outlet></router-outlet>
</div>