@import '../../../../src/styles.scss';
@import '../../app.component.scss';

/* >>>>>>>> Merchant Top Nav <<<<<<<< */
.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 48;
    width: 100%;
    padding: 3vh 5% 2vh 5%;
    color: $tpc;
}
.top-nav .nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 0 2%;
}
.top-nav .nav-menu a{
    text-decoration: none;
    color: $tpc;
}
.top-nav .nav-menu a:hover{
    font-weight: 600;
}
.top-nav h2, .top-nav .nav-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}
.top-nav h2{
    color: $mpc;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

}
.top-nav .nav-profile{
    justify-content: right;
}
.top-nav .nav-profile i{
    font-size: 42px;
    margin-left: 15px;
}

