<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>




<div class="navbar">
    <h3 class="logo" style="font-family: 'Playwrite GB S', sans-serif; margin: 0 0 20px 10px; color: #074D4C !important;">iWanderPH</h3>

    <div class="nav-item" routerLink="/traveler/home">
        <i class='bx bx-home-alt'></i>
        <span>Home</span>
    </div>
    <div class="nav-item" routerLink="/traveler/discover">
        <i class='bx bx-map-alt'></i>
        <span>Discover</span>
    </div>
    <div class="nav-item" routerLink="/traveler/bookings">
        <i class='bx bx-hotel'></i>
        <span>Bookings</span>
    </div>
    <div class="nav-item" routerLink="/traveler/profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
    </div>
    <div class="nav-item" routerLink="/traveler/settings" id="settings">
        <i class='bx bx-menu' id="settings"></i>
        <span>Settings</span>
    </div>
</div>


<div class="content-container">
    <router-outlet></router-outlet>
</div>

