<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="top-utility">
    <img src="iWanderPH_logo.png" alt="iWanderPH Logo" class="logo"/>
    <i class='bx bx-heart' id="favorites" (click)="toggleFavoritesPanel()"></i>
    <i class='bx bx-menu' id="settings" (click)="toggleSettingsPanel()"></i>
</div>

<div class="settings-panel" id="settings-panel">
    <div class="close-button" (click)="toggleSettingsPanel()">
        <i class='bx bx-x'></i>
    </div>
    <h2>Settings</h2>
    <p>This is the settings panel.</p>
    <div class="merchant-hub" (click)="merchant_hub()">
        <i class='bx bxs-paper-plane'></i>
        <label>Merchant Hub</label>
    </div>
    <div class="logout" (click)="logout()">
        <i class='bx bx-log-out'></i>
        <label>Log-out</label>
    </div>
</div>

<div class="favorites-panel" id="favorites-panel">
    <div class="close-button" (click)="toggleSettingsPanel()">
        <i class='bx bx-x'></i>
    </div>
    <h2>Favorites</h2>
    <p>This is the favorites panel.</p>
</div>

<div class="navbar">
    <img src="iWanderPH_logo.png" alt="iWanderPH Logo" class="logo"/>
    <img src="iWanderPH_logo_solo.png" alt="iWanderPH Logo" class="logo_solo"/>
    <div class="nav-item" routerLink="/traveler/home">
        <i class='bx bx-home-alt'></i>
        <span>Home</span>
    </div>
    <div class="nav-item" routerLink="/traveler/discover">
        <i class='bx bx-map-alt'></i>
        <span>Discover</span>
    </div>
    <div class="nav-item" routerLink="/traveler/bookings">
        <i class='bx bx-hotel'></i>
        <span>Bookings</span>
    </div>
    <div class="nav-item" routerLink="/traveler/profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
    </div>
</div>


<div class="content-container">
    <router-outlet></router-outlet>
</div>

