<div class="filter-bar">
    <div class="f-b">
        <label>Filter</label>
        <input type="text" placeholder="Search traveler username, booking id, listing id" id="search">
        <button>Today</button>
        <div class="date-range">
            <label for="fromDate">From:</label>
            <input type="date" id="fromDate" name="fromDate">
          
            <label for="toDate">To:</label>
            <input type="date" id="toDate" name="toDate">
        </div>
        <i class='bx bxs-info-circle' id="info_bt"></i>
    </div>
    <div class="subtract"></div>
</div>
<div class="data-container">
    <div class="table-box">
        <p>ongoing works!</p>
    </div>
</div>

