<div class="settings-panel" id="settings-panel" [@slideInOut]="showAccountSettings" *ngIf="showAccountSettings">
    <div class="close-button" (click)="closeSettings()">
        <i class='bx bx-chevron-left' ></i>
        <div class="title">
            <span>Settings</span>
        </div>
    </div>
    <div class="group">
        <span>Your Account</span>
        <div class="option flex-row s-b" [routerLink]="['/traveler/settings/account']">
            <div class="label flex-row centered">
                <i class='bx bx-user-circle' ></i>
                <label>Account</label>
            </div>
            <i class='bx bx-chevron-right'id="arrow" ></i>
        </div>
    </div>
    <div class="group">
        <span>Merchant</span>
        
        <!-- Merchant Hub: Show if isMerchant is true and isApproved is also true -->
        <div class="option flex-row s-b" *ngIf="isMerchant && isApproved" [routerLink]="['/merchant/my-dashboard/my-profile']">
          <div class="label flex-row centered">
            <i class='bx bx-paper-plane'></i>
            <label>Merchant Hub</label>
          </div>
          <i class='bx bx-chevron-right' id="arrow"></i>
        </div>
      
        <!-- Waiting for Approval: Show if isMerchant is true and isApproved is false -->
        <div class="option flex-row s-b" *ngIf="isMerchant && !isApproved">
          <div class="label flex-row centered">
            <i class='bx bx-time'></i>
            <label>Waiting for Approval</label>
          </div>
          <i class='bx bx-chevron-right' id="arrow"></i>
        </div>
      
        <!-- Apply as Merchant: Show if isMerchant is false -->
        <div class="option flex-row s-b" *ngIf="!isMerchant && !isApproved" [routerLink]="['/traveler/register-business']">
          <div class="label flex-row centered">
            <i class='bx bx-edit-alt'></i>
            <label>Apply as Merchant</label>
          </div>
          <i class='bx bx-chevron-right' id="arrow"></i>
        </div>
      </div>      
    <div class="group">
        <span>More info and support</span>
        <div class="option flex-row s-b">
            <div class="label flex-row centered">
                <i class='bx bx-support'></i>
                <label>Support</label>
            </div>
            <i class='bx bx-chevron-right'id="arrow" ></i>
        </div>
        <div class="option flex-row s-b">
            <div class="label flex-row centered">
                <i class='bx bx-help-circle' ></i>
                <label>Help Center/FAQ</label>
            </div>
            <i class='bx bx-chevron-right' id="arrow"></i>
        </div>
    </div>
    <div class="group">
        <span>Log</span>
        <div class="option flex-row s-b">
            <div class="label flex-row centered" (click)="logout()">
                <i class='bx bx-log-out'></i>
                <label>Log-out</label>
            </div>
            <i class='bx bx-chevron-right'></i>
        </div>
    </div>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>


<div class="settings">
    <div class="group">
        <span>Your Account</span>
        <div class="option flex-row s-b" [routerLink]="['/traveler/settings/account']">
            <div class="label flex-row centered">
                <i class='bx bx-user-circle' ></i>
                <label>Account</label>
            </div>
            <i class='bx bx-chevron-right hide' ></i>
        </div>
    </div>
    <div class="group">
        <span>Merchant</span>
        <div class="option flex-row s-b" *ngIf="isMerchant" [routerLink]="['/merchant/my-dashboard/my-profile']">
            <div class="label flex-row centered" >
                <i class='bx bx-paper-plane'></i>
                <label>Merchant Hub</label>
            </div>
            <i class='bx bx-chevron-right hide' ></i>
        </div>
        <div class="option flex-row s-b" *ngIf="!isMerchant" [routerLink]="['/traveler/register-business']">
            <div class="label flex-row centered" >
                <i class='bx bx-edit-alt'></i>
                <label>Apply as Merchant</label>
            </div>
            <i class='bx bx-chevron-right hide' ></i>
        </div>
    </div>
    <div class="group">
        <span>More info and support</span>
        <div class="option flex-row s-b">
            <div class="label flex-row centered">
                <i class='bx bx-support'></i>
                <label>Support</label>
            </div>
            <i class='bx bx-chevron-right hide' ></i>
        </div>
        <div class="option flex-row s-b">
            <div class="label flex-row centered">
                <i class='bx bx-help-circle' ></i>
                <label>Help Center/FAQ</label>
            </div>
            <i class='bx bx-chevron-right hide' ></i>
        </div>
    </div>
    <div class="group">
        <span>Log</span>
        <div class="option flex-row s-b">
            <div class="label flex-row centered" (click)="logout()">
                <i class='bx bx-log-out'></i>
                <label>Log-out</label>
            </div>
            <i class='bx bx-chevron-right hide' ></i>
        </div>
    </div>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>
