<div class="settings-panel" id="settings-panel" [@slideInOut]="showSettings" *ngIf="showSettings">
    <div class="close-button" (click)="closeSettings()">
        <i class='bx bx-x'></i>
    </div>
    <h2>Settings</h2>
    <p>This is the settings panel.</p>
    <div class="merchant-hub" [routerLink]="['/merchant/']">
        <i class='bx bxs-paper-plane'></i>
        <label>Merchant Hub</label>
    </div>
    <div class="logout" (click)="logout()">
        <i class='bx bx-log-out'></i>
        <label>Log-out</label>
    </div>
</div>

<div class="settings">
    <h2>Settings</h2>
    <p>This is the settings panel.</p>
    <div class="merchant-hub" [routerLink]="['/merchant/my-dashboard/my-profile']">
        <i class='bx bxs-paper-plane'></i>
        <label>Merchant Hub</label>
    </div>
    <div class="logout" (click)="logout()">
        <i class='bx bx-log-out'></i>
        <label>Log-out</label>
    </div>
</div>

