@import '../../../../src/styles.scss';
@import '../../app.component.scss';

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5 !important;
    color: #333;
    text-align: center;
    overflow-x: hidden;
}

input{
    box-shadow: none;
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f5f5f5 !important;

}

.login-page {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 90%; 
    width: 400px; 
}

.header-shape {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: #074D4C;
    border-radius: 50%;
    z-index: -1;
}

.login-welcome h1 {
    margin: 0;
    font-size: 1.5em;
    color: #074D4C;
}

.desc p {
    font-size: 0.9em;
    color: #666;
    margin: 10px 0 20px;
}

.input-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.input-box i {
    color: #074D4C;
    margin-right: 10px;
}

.input-box input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
}

.login-btn {
    background-color: #074D4C;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.signup-link p {
    margin: 20px 0 0;
    font-size: 0.8em;
}

.signup-link a {
    color: #074D4C;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

.error{
    color: #ac2a37;

}



/* Android phones (small screens, max width: 480px) */
@media (max-width: 480px) {
    .login-page {
        max-width: 100%;
        width: 90%;
        padding: 15px;
    }

    .header-shape {
        width: 120px; 
        height: 120px;
    }

    .login-welcome h1 {
        font-size: 1.2em;
    }

    .desc p {
        font-size: 0.8em;
    }

    .input-box {
        padding: 8px;
        font-size: 0.9em;
    }

    .login-btn {
        font-size: 1em;
    }
    .error{
        font-size: 0.7rem ;
    }
}

/* Web view (large screens, min width: 1025px) */
@media (min-width: 1025px) {
    .login-page {
        min-width: 550px; 
        padding: 40px;
    }

    .login-welcome h1 {
        font-size: 1.8em;
    }

    .desc p {
        font-size: 1em;
    }

    .input-box {
        padding: 15px;
        font-size: 1.2em;
    }
    
    .input-box input {
        font-size: 0.8em;
    }

    .login-btn {
        font-size: 1em;
    }
    .error{
        font-size: 0.9rem ;
    }
}
  
