<!-- SHEEEEMAAAA -->
<div class="analytics-container">
    
  <div class="customer-satisfaction">
    <!-- Loading State -->
    <div *ngIf="!merchantData && !errorMessage" class="loading">
      Loading data, please wait...
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <canvas id="ratingsChart" style="width: 80%; height: 200px;"></canvas>


    <!-- No Data Available -->
    <div *ngIf="merchantData.length === 0">
      No data available for customer satisfaction.
    </div>
  </div>

  <!-- Revenue Trends Section -->
  <div class="revenue-trends">
    <h3>Revenue Trends</h3>
    <div>
      <canvas id="revenueChart" style="width: 80%; height: 200px;"></canvas>
    </div>
  </div>

  <!-- Booking Trends Section -->
  <div class="booking-trends">
    <h3>Booking Trends</h3>
    <div>
      <canvas id="bookingChart" style="width: 80%; height: 200px;"></canvas>
    </div>
  </div>

  <!-- Customer Demographics Section -->
  <div class="customer-demo">
    <h3>Customer Demographics & Preference</h3>
    <div>
        
      <canvas id="customerDemoChart" style="width: 80%; height: 200px;"></canvas>
    </div>
  </div>
</div>
  