@import '../../../../../src/styles.scss';
@import '../../../app.component.scss';

:host {
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.main-image {
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.description-list {
  max-height: 460px; /* Adjust this height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 10px;
  margin-bottom: 0; /* Remove extra margin */
}

.additional-images {
  margin-top: 20px;
  margin-bottom: 0; /* Ensure no additional margin below the section */
  
  .thumbnail-list {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* Scroll horizontally for thumbnails */
    padding-bottom: 10px;
  }

  .thumbnail {
    cursor: pointer;
    transition: transform 0.3s ease;

    img {
      width: 80px;
      height: 80px;
      border-radius: 8px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.back-icon {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust size of the button */
    height: 40px;
    border-radius: 50%; /* Make it circular */
    background-color: #fff; /* White background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    text-decoration: none;
    color: #004d40; /* Deep teal color for the icon */
    transition: transform 10s ease-in-out, box-shadow 2.5s ease-in-out;

    i {
      font-size: 1.5rem; /* Adjust size of the icon */
    }

    &:hover {
      transform: scale(1.05); /* Slight scale on hover */
      box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
    }
  }
}

@media (max-width: 480px) {
  .main-image img {
    width: 100%;
    height: 100%;
  }

  .thumbnail img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1025px) {
  .main-image img {
    width: 100%;
    max-height: 500px;
  }

  .thumbnail img {
    width: 100px;
    height: 100px;
  }
}

/* For flexbox layout to adjust height dynamically */
.parent-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.description-list {
  flex-grow: 1; /* Ensures it grows to fill available space */
  margin-bottom: 0;
}
.description{
  padding-top: 20px;
  color: black;
}
