@import '../../../../src/styles.scss';
@import '../../app.component.scss';
@import '../admin-layout/admin-layout.component.scss';

.text{
    display: inline-block;
    color: $apc;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}