
<body>
  <header class="header">
    <nav class="navbar">
      <div class="logo"> 

        <h1 style="font-family: 'Playwrite GB S', sans-serif; ">iWanderPH</h1>
      </div>
      <!-- <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#destinations">Destinations</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul> -->
      <div class="nav-cta">
        <a (click)="navigateTo('/traveler')" class="btn">Log In</a>
        <a (click)="navigateTo('/traveler/signup')" class="btn">Sign-up</a>
      </div>
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </header>

  <section
    id="home"
    class="hero"                         
    [ngStyle]="{ 'background-image': 'url(' + 'data:image/jpeg;base64,' + randomBackgroundImage + ')' }"
  >
    <div class="hero-content">
      <h2 style="font-family: 'Playwrite GB S', sans-serif;">Discover the Beauty of the Philippines</h2>
      <p>Your adventure begins here. Explore breathtaking destinations.</p>
      <a href="#destinations" class="btn-primary">Explore Now</a>
    </div>
  </section>


  <section id="destinations" class="destinations">
    <h3 style="font-family: 'Playwrite GB S', sans-serif;">Featured Destinations</h3>
    <div class="destination-list">
      <div
        class="destination"
        *ngFor="let destination of places"
      >
        <img
          [src]="'data:image/jpeg;base64,' + destination.main_image"
          [alt]="destination.place_name"
        />
        <h4>{{ destination.place_name }}</h4>
        <p>{{ destination.description || 'Discover this beautiful destination.' }}</p>
      </div>
    </div>
  </section>
  

  <footer class="footer">
    <div class="footer-content">
      <p>© 2024 iWanderPH. All rights reserved.</p>
      <div class="social-links">
        <a href="#"><i class='bx bxl-facebook-circle'></i></a>
        <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
        <a href="#"><i class='bx bxl-twitter' ></i></a>
        <a (click)="navigateTo('/admin')"><i class='bx bxs-invader' ></i></a>
      </div>
    </div>
  </footer>
</body>

