@import '../../../../src/styles.scss';
@import '../../app.component.scss';
@import '../admin-layout/admin-layout.component.scss';

::ng-deep .sidebar li#content-moderation{
    pointer-events: none !important;
}
::ng-deep .sidebar li#content-moderation i{
    color: $apc !important;
}
::ng-deep .sidebar li#content-moderation a{
    background-color: #fff;
}
::ng-deep .sidebar li#content-moderation .links_name{
    color: $apc;
    pointer-events: none !important;
}
