@import '../../../../src/styles.scss';
@import '../../app.component.scss';
@import '../admin-layout/admin-layout.component.scss';

::ng-deep .sidebar li#content-moderation{
    pointer-events: none !important;
}
::ng-deep .sidebar li#content-moderation i{
    color: $apc !important;
}
::ng-deep .sidebar li#content-moderation a{
    background-color: #fff;
}
::ng-deep .sidebar li#content-moderation .links_name{
    color: $apc;
    pointer-events: none !important;
}
.hub-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 8px 20px;
    min-height: 98vh;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    border: 0.5px solid #ececec;
    padding: 18px;
    color: $apc;
}
.hub-container span{
    font-weight: 500;
}

.text{
    display: inline-block;
    color: $apc;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}
/* content-moderation.component.scss */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f5f5f5;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
  }
  