@import '../../../../src/styles.scss';
@import '../../app.component.scss';
@import '../admin-layout/admin-layout.component.scss';

::ng-deep .sidebar li#content-moderation{
    pointer-events: none !important;
}
::ng-deep .sidebar li#content-moderation i{
    color: $apc !important;
}
::ng-deep .sidebar li#content-moderation a{
    background-color: #fff;
}
::ng-deep .sidebar li#content-moderation .links_name{
    color: $apc;
    pointer-events: none !important;
}
.hub-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 8px 20px;
    min-height: 98vh;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    border: 0.5px solid #ececec;
    padding: 18px;
    color: $apc;
}
.hub-container span{
    font-weight: 500;
}

.text{
    display: inline-block;
    color: $apc;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}
.reports-container {
    padding: 20px;
  }
  
  .reports-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .reports-table th, .reports-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .reports-table th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  button[disabled] {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  button:not([disabled]):hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .loading, .error {
    font-size: 14px;
    color: red;
  }
  
  .loading {
    color: orange;
  }
  