<div class="panel" id="panel" [@slideInOut]="showSettings" *ngIf="showSettings">
  <div class="close-button">
      <div class="back-icon flex-row" (click)="closeSettings()" style="width: 70px;">
          <i class="bx bx-chevron-left"></i>
      </div>  
      <div class="title">
          <span>Update Password</span>
      </div>
      <input 
        type="submit" 
        value="Save" 
        (click)="confirmPasswordUpdate()" 
        [disabled]="!isPasswordValid() || !isUsernameChanged || !isAvailable" />


  </div>
  <div class="container">
      <div class="new-pass">
          <div class="input-container">
              <input 
                  [type]="showCurrentPassword ? 'text' : 'password'" 
                  [(ngModel)]="currentPassword" 
                  (input)="checkCurrentPassword()" 
                  placeholder="Current Password" 
                  required
              >
              <i class="eye-icon" (click)="toggleCurrentPassword()">
                  <i class="bx" [ngClass]="showCurrentPassword ? 'bx-hide' : 'bx-show'"></i>
              </i>
          </div>

          <div class="input-container">
              <input 
                  [type]="showNewPassword ? 'text' : 'password'" 
                  [(ngModel)]="newPassword" 
                  [disabled]="!isCurrentPasswordCorrect" 
                  placeholder="New Password" 
                  required
                  (input)="checkPasswordRequirements()"
              >
              <i class="eye-icon" (click)="toggleNewPassword()">
                  <i class="bx" [ngClass]="showNewPassword ? 'bx-hide' : 'bx-show'"></i>
              </i>
          </div>

          <div class="input-container">
              <input 
                  [type]="showConfirmPassword ? 'text' : 'password'" 
                  [(ngModel)]="confirmNewPassword" 
                  [disabled]="!isCurrentPasswordCorrect" 
                  placeholder="Confirm New Password" 
                  required
              >
              <i class="eye-icon" (click)="toggleConfirmPassword()">
                  <i class="bx" [ngClass]="showConfirmPassword ? 'bx-hide' : 'bx-show'"></i>
              </i>
          </div>
      </div>
      <p *ngIf="passwordMessage">{{ passwordMessage }}</p>

      <div style="margin-top: 10px;"></div>
      <span>Your password must have at least:</span>

      <p [ngClass]="{'valid': isPasswordValidLength()}">✓ 8 characters (20 max)</p>
      <p [ngClass]="{'valid': isPasswordValidLetterNumber()}">✓ 1 letter and number</p>
      <p [ngClass]="{'valid': isPasswordValidSpecialCharacter()}">✓ 1 special character (Example: # ? ! $ & &#64;)</p>
  </div>
</div>
