<div class="hub-container">
    <div class="hub-menu">
        <button id="pending">Pending</button>
        <button id="accepted">Accepted</button>
        <button id="ongoing">On-going</button>
        <button id="completed">Completed</button>
        <button id="refunded">Refunded</button>
    </div>
    <div class="filter-bar">
        <label>Filter</label>
        <input type="text" placeholder="Search traveler username, booking id, listing id" id="search">
        <button>Today</button>
        <input type="date">
        <i class='bx bxs-info-circle' id="info_bt"></i>
    </div>
    <div class="data-container">
        
    </div>
</div>
