@import '../../../../src/styles.scss';
@import '../../app.component.scss';
@import '../assets/view-bookings.scss';

::ng-deep .sidebar li#view-bookings{
    pointer-events: none !important;
}
::ng-deep .sidebar li#view-bookings i{
    color: $admin-primary-color !important;
}
::ng-deep .sidebar li#view-bookings a{
    background-color: #fff;
}
::ng-deep .sidebar li#view-bookings .links_name{
    color: $admin-primary-color;
    pointer-events: none !important;
}
.hub-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 8px 20px;
    min-height: 98vh;
    max-width: calc(100% - 105px);
    background-color: #ffffff;
    border-radius: 15px;
    border: 0.5px solid #ececec;
    padding: 18px;
    color: $admin-primary-color;
}
.hub-container span{
    font-weight: 500;
}
.filter-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 5px auto;
    min-height: 48px;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.search-bar, .filter-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 32px;
    width: calc(50% - 18px);
}
.search-bar input, .filter-bar button{
    height: 32px;
}
.filter-bar i {
    font-size: 30px;
}
.search-bar{
    justify-content: left;
    margin-left: 15px;
    font-size: 15px;
}
.search-bar input{
    border: 0px;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    padding-left: 7px;
}
.search-bar input[type="number"]::-webkit-inner-spin-button,
.search-bar input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}    
.search-bar input::placeholder{
    font-style: italic;
}
.search-bar input#b_id{
    max-width: 15%;
}
.filter-bar{
    justify-content: right;
}
.filter-bar button{
    color: #fff;
    padding: 0 30px;
    background-color: $admin-primary-color;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.filter-bar i#left_bt, .filter-bar i#right_bt{
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s;
}
.filter-bar i#left_bt:hover, .filter-bar i#right_bt:hover{
    color: #fff;
    background-color: $admin-primary-color;
}
.filter-bar i#info_bt{
    cursor: pointer;
    transition: 0.2s;
}
.filter-bar i#info_bt:hover{
    transform: scale(1.1);
}
.table-box{
    min-width: calc(100% - 105px);
    height: calc(98vh - 130px);
    background-color: #f1f1f1;
    border-radius: 7px;
    margin-top: 10px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.table-header, .table-body {
    width: 100%;
    border-collapse: collapse;
}
.table-body {
    display: block; 
    max-height: calc(100% - 50px);
    overflow-y: auto; 
}

.table-body tr {
    display: table; 
    width: 100%;
    table-layout: fixed; 
}
.table-header th, .table-body td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box; 
    max-height: 32px;
}

/* Set column widths */
.table-header th:nth-child(1),
.table-body td:nth-child(1) {
    width: 10%; 
    padding-left: 20px;
}

.table-header th:nth-child(2),
.table-body td:nth-child(2) {
    width: 8%; 
}
.table-header th:nth-child(3),
.table-body td:nth-child(3) {
    width: 10%;
}
.table-header th:nth-child(4),
.table-body td:nth-child(4) {
    width: 15%; 
}

.table-header th:nth-child(5),
.table-body td:nth-child(5) {
    width: 10%; 
}

.table-header th:nth-child(6),
.table-body td:nth-child(6) {
    width: 10%; 
}

.table-header th:nth-child(7),
.table-body td:nth-child(7) {
    width: 10%; 
}

.table-header th:nth-child(8),
.table-body td:nth-child(8) {
    width: 10%; 
}

.table-header th:nth-child(9),
.table-body td:nth-child(9) {
    width: 10%; 

}
.table-body td:nth-child(9) {
    padding-left: 20px;
}


.table-body button {
    background-color: $admin-primary-color;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.table-body button:hover {
    background-color: $admin-primary-color;
}
