<div class="filter-bar">
    <div class="f-b">
        <label>Filter</label>
        <input type="text" placeholder="Search traveler username, booking id, listing id" id="search">
        <button>Today</button>
        <div class="date-range">
            <label for="fromDate">From:</label>
            <input type="date" id="fromDate" name="fromDate">
          
            <label for="toDate">To:</label>
            <input type="date" id="toDate" name="toDate">
        </div>
        <i class='bx bxs-info-circle' id="info_bt"></i>
    </div>
    <div class="subtract"></div>
</div>
<div class="data-container">
    <div class="table-box">
        <table>
            <thead>
              <tr>
                <th>Booking ID</th>
                <th>Check-In/Pick-Up</th>
                <th>Check-Out/Drop-Off</th>
                <th>Traveler</th>
                <th>Booking Status</th>
                <th>Total Amount</th>
                <th>Reviews</th>
                <th>Ratings</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngIf="bookings.length === 0">
            <td colspan="9">No bookings found.</td>
          </tr>
          <tr *ngFor="let booking of bookings">
            <td>{{ booking.bookingID }}</td>
            <td>{{ booking.checkIn | date: 'longDate' }}</td>
            <td>{{ booking.checkOut | date: 'longDate' }}</td>
            <td>{{ booking.Username }}</td>
            <td [class]="booking.bookingStatus">{{ booking.bookingStatus | titlecase }}</td>
            <td>₱ {{ booking.totalAmount | number: '.2-2' }}</td>
            <td>{{ booking.review || 'No review available' }}</td>
            <td>{{ booking.rating || 'No rating' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>



