<div class="hub-container">
    <span>Payments Manager</span>
    <div class="filter-box">
        <div class="search-bar">
            <label>Search by:</label>
            <input type="number" placeholder="booking id" [(ngModel)]="filters.bookingId" (input)="applyFilters()">
            <input type="text" placeholder="traveler username" [(ngModel)]="filters.travelerName" (input)="applyFilters()">
            <input type="date" [(ngModel)]="filters.date" (change)="applyFilters()">
        </div>
        <div class="filter-bar">
                <i class='bx bx-chevron-left' id="left_bt"></i>
                <i class='bx bx-chevron-right' id="right_bt"></i>
                <i class='bx bxs-info-circle' id="info_bt"></i>
        </div>       
    </div>
    <div class="table-box">
        <table class="table-header">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Booking ID</th>
                    <th>Traveler</th>
                    <th>Merchant</th>
                    <th>Subtotal</th>
                    <th>VAT</th>
                    <th>Payout</th>
                    <th>Total Amount</th>
                    <th>Booking Status</th>
                    <th>Payment Status</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <div class="table-body">
            <table>
                <tbody>
                    <tr *ngFor="let booking of filteredBookings">
                        <td>{{ booking.bookingDate | date }}</td>
                        <td>{{ booking.bookingId }}</td>
                        <td>{{ booking.travelerName }}</td>
                        <td>{{ booking.merchantName }}</td>
                        <td>{{ booking.subtotal | currency:'PHP':'symbol':'1.2-2'}}</td>
                        <td>{{ booking.vat | currency:'PHP':'symbol':'1.2-2'}}</td>
                        <td>{{ booking.payout | currency:'PHP':'symbol':'1.2-2'}}</td>
                        <td>{{ booking.totalAmount | currency:'PHP':'symbol':'1.2-2'}}</td>
                        <td>{{ booking.bookingstatus }}</td>
                        <td>{{ booking.paymentstatus }}</td>
                        <td>
                            <button (click)="initiatePayout(booking.bookingId)">Initiate Payout</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>