<div class="container">
    <h2>User ID #{{ user.TravelerID }}</h2>
    <div class="user-details">
      <table>
        <tr>
          <th>User ID</th>
          <td>{{ user.TravelerID }}</td>
        </tr>
        <tr>
          <th>Username</th>
          <td>{{ user.Username }}</td>
        </tr>
        <tr>
          <th>Full Name</th>
          <td>{{ user.FirstName }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ user.Email }}</td>
        </tr>
        <tr>
          <th>Mobile #</th>
          <td>{{ user.Mobile }}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{ user.Address }}</td>
        </tr>
        <tr>
          <th>Profile Pic</th>
          <td><a href="#">click here</a></td>
        </tr>
        <tr>
          <th>Merchant</th>
          <td>{{ user.isMerchant ? 'true' : 'false' }}</td>
        </tr>
      </table>
    </div>
        
    <div class="other-details">
      <div class="menu">
        <div class="tab" (click)="switchTab('bookings')" [class.active]="activeTab === 'bookings'">Bookings</div>
        <div class="tab" (click)="switchTab('violations')" [class.active]="activeTab === 'violations'">Violations</div>
        <div class="tab" (click)="switchTab('violations')" [class.active]="activeTab === 'violations'">Violations</div>
      </div>

      <div class="content">

        <div class="bookings" *ngIf="activeTab === 'bookings'">
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Booking ID</th>
                <th>Merchant</th>
                <th>Booking Status</th>
                <th>Booking Type</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
            </thead>
          </table>
          <div class="table-body">
            <table>
              <tbody>
                <tr *ngFor="let booking of bookings">
                  <td>{{ booking.BookingDate }}</td>
                  <td>{{ booking.BookingID }}</td>
                  <td>{{ booking.businessName }}</td>
                  <td>{{ booking.BookingStatus }}</td>
                  <td>{{ booking.BookingType }}</td>
                  <td>{{ booking.TotalAmount }}</td>
                  <td>
                    <button (click)="openBookingDetails(booking.BookingID)">Open</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        
        <div class="violations" *ngIf="activeTab === 'violations'">
          <p>This is violations</p>
        </div>

      </div>

    </div>




<!-- Create Action -->
<div id="myModal" class="modal" [ngClass]="{'show': showModal}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Create Action</h2>
    <form (ngSubmit)="submitAction()">
      <label for="violation">Violation:</label>
      <input type="text" id="violation" [(ngModel)]="action.violation" name="violation" placeholder="Enter violation..." required>
      <div class="action-buttons">
        <button type="button" (click)="submitAction('Ban')">Ban</button>
        <button type="button" (click)="submitAction('Suspend')">Suspend</button>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
  