<div class="hub-container">
      <div class="nav-menu">
            <div class="menu-tab" id="my-profile" (click)="showTab('my-profile')" 
                 [class.active]="activeTab === 'my-profile'">My Profile</div>
            <div class="menu-tab" id="notifications" (click)="showTab('notifications')" 
                 [class.active]="activeTab === 'notifications'">Notifications</div>
            <div class="menu-tab" id="inbox" (click)="showTab('inbox')" 
                 [class.active]="activeTab === 'inbox'">Inbox</div>
      </div>
          
          
      <div class="content-container">

            <!-- my profile tab -->
            <div *ngIf="activeTab === 'my-profile'" class="my-profile content-tab">
                  <div class="profile_img">
                        <div class="merchant_img">
                              <img *ngIf="profile.merchantPic" [src]="'data:image/jpeg;base64,' + profile.merchantPic" alt="Profile Picture" />
                              <p *ngIf="!profile.merchantPic">No Profile Picture Available</p>
                        </div>
                        <div class="traveler_pic">
                              <img *ngIf="profile.travelerPic" [src]="'data:image/jpeg;base64,' + profile.travelerPic" alt="Profile Picture" />
                              <p *ngIf="!profile.travelerPic">No Profile Picture Available</p>
                        </div>
                  </div>
                  <div class="account_details">
                        <h4>{{ profile.businessName }}</h4>
                        <div class="detail">
                              <label>Owner/Merchant Name:</label>
                              <p>{{ profile.ownerName }}</p>
                        </div>
                        <div class="businessDetails">
                              <div class="detail">
                                    <label>Merchant ID:</label>
                                    <p>{{ profile.merchantID }}</p>
                              </div>
                              <div class="detail">
                                <label>Business Type:</label>
                                <input [(ngModel)]="profile.businessType" placeholder="Enter Business Type" />
                              </div>
                              <div class="detail">
                                <label>Business Email:</label>
                                <input [(ngModel)]="profile.email" placeholder="Enter Business Email" />
                              </div>
                              <div class="detail">
                                <label>Business Contact:</label>
                                <input [(ngModel)]="profile.contact" placeholder="Enter Business Contact" />
                              </div>
                              <div class="detail">
                                <label>Address:</label>
                                <input [(ngModel)]="profile.address" placeholder="Enter Address" />
                              </div>
                              <div class="detail">
                                <label>Update Profile Picture:</label>
                                <input type="file" (change)="onFileChange($event)" />
                              </div>
                              <button (click)="updateProfile()">Update Profile</button>
                            </div>
                        <div class="travelerDetails">
                              <div class="detail">
                                    <label>Traveler ID:</label>
                                    <p>{{ profile.travelerID }}</p>
                              </div>
                              <div class="detail">
                                    <label>Username:</label>
                                    <p>{{ profile.username }}</p>
                              </div>
                              <div class="detail">
                                    <label>Personal Email:</label>
                                    <p>{{ profile.personalEmail }}</p>
                              </div>
                              <div class="detail">
                                    <label>Personal Contact:</label>
                                    <p>{{ profile.personalContact }}</p>
                              </div>
                              <div class="detail">
                                    <label>Personal Address:</label>
                                    <p>{{ profile.personalAddress }}</p>
                              </div>
                              <div class="detail">
                                    <label>Bio:</label>
                                    <p>{{ profile.bio }}</p>
                              </div>
                        </div>
                  </div>
            </div>
                

            <!-- notification-tab -->
            <div *ngIf="activeTab === 'notifications'" class="notifications content-tab">
                  <h4>Notifications</h4>
                
                  <div *ngIf="notifications.length > 0; else noNotifications" class="notification-list">
                    <div *ngFor="let notification of notifications" class="notification-item">
                      <div class="notification-content">
                        <p class="notification-message">{{ notification.notificationMessage }}</p>
                        <div class="notification-meta">
                          <span class="notification-status">Booking Status: {{ notification.bookingStatus }}</span>
                          <span class="notification-date">{{ notification.createdAt | date:'short' }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <ng-template #noNotifications>
                    <p class="no-notifications-message">You have no notifications at the moment.</p>
                  </ng-template>
            </div>
                


            <div *ngIf="activeTab === 'inbox'" class="inbox">
                  <div class="chat-list">
                        <div class="header">
                        <span>Chat List</span>
                        <button (click)="openNewChat()">New Chat</button>
                        </div>
                        <div class="search-section">
                        <input type="search" [(ngModel)]="searchTerm" (input)="searchConversations()" placeholder="Search chat here" />
                        <i class='bx bx-search-alt-2'></i>
                        </div>
                        <div class="conversations">
                        <div class="convo-card" *ngFor="let convo of conversations" (click)="openConversation(convo.chatSessionId)">
                              <div>
                                    <h5>{{ convo.chatSessionId }}<small>&nbsp;({{ convo.receiverName }})</small></h5>
                                    <p><small> Updated: {{ convo.updatedAt | date:'medium' }}</small></p>
                              </div>
                        </div>
                        </div>
                  </div>
                  <div class="chat-box" *ngIf="selectedConversation || newChatMode">
                        <div class="chat-content">
                            <div *ngIf="!newChatMode" class="existing-chat">
                                <div class="top-bar" *ngIf="receiverInfo">
                                    <h4>
                                        {{ receiverInfo?.businessName || (receiverInfo?.FirstName + ' ' + receiverInfo?.LastName) || 'Unknown Receiver' }}
                                    </h4>                    
                                    <i class='bx bx-dots-vertical-rounded' (click)="toggleOptions()"></i>
                                </div>
                            
                                <div *ngIf="showOptions" class="options-dropdown">
                                    <button (click)="confirmDeleteConversation(selectedConversation)">Delete Conversation</button>
                                </div>
                            
                                <div class="chat-messages">
                                    <div *ngFor="let message of chatMessages">
                                        <div [ngClass]="(message.senderId === receiverInfo.TravelerUUID || message.senderId === receiverInfo.MerchantUUID) ? 'received-message' : 'sent-message'">
                                            <p>{{ message.message }}</p><br>
                                            <small>{{ message.timestamp }}</small>
                                        </div>
                                    </div>
                                </div>
                                
                            
                                <div class="send-message">
                                    <input type="text" [(ngModel)]="newMessage" placeholder="Type your message here" />
                                    <button (click)="sendMessage()">Send</button>
                                </div>
                            </div>
                    
                            <div *ngIf="newChatMode" class="new-chat-container">
                                <h4>Create a New Conversation</h4>
                                <input type="text" 
                                       [(ngModel)]="userSearchTerm" 
                                       (input)="filterUsers()" 
                                       placeholder="Search for users to chat" 
                                       class="search-input" 
                                       />
                            
                                <div *ngIf="searchedUsers.length > 0" class="dropdown">
                                    <ul>
                                        <li *ngFor="let user of searchedUsers" (click)="startNewChat(user)" class="dropdown-item">
                                            <div class="user-info">
                                                <span class="user-id" style="width: 20%;">{{ user.id }}</span>
                                                <span class="username" style="width: 40%;">{{ user.username }}</span>
                                                <span class="fullname" style="width: 40%;">{{ user.fullname }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                  </div>
            </div>


      </div>
</div>
    