$primary-font: 'Poppins', sans-serif;

/* >>>>>>>>>> ADMIN <<<<<<<<<< */
$apc: #023040;

/* >>>>>>>> MERCHANT <<<<<<<< */
$mpc: #FFA520;
 
/* >>>>>>>> TRAVELER <<<<<<<< */
$tpc: #074D4C;


body{
    background-color: #f1f1f1;
    position: relative;
    min-height: 100vh;
    min-width: 100%;
}
:host, body, html, mat-form-field, .mat-button, .mat-card {
font-family: 'Poppins', sans-serif !important;
}

body::-webkit-scrollbar {
    display: none;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
button{
    // max-width: 148px;
    // min-width: 98px;
    padding: 6px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
input{
    height: 32px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    padding-left: 7px;
    outline: none;

}


html, body { height: 100%; }

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.centered{
    justify-content: center;
    align-items: center;
}

.s-b{
    justify-content: space-between;
    align-items: center;
}