/* You can add global styles to this file, and also import other style files */
$primary-font: 'Poppins', sans-serif;

/* >>>>>>>>>> ADMIN <<<<<<<<<< */
$apc: #023040;

/* >>>>>>>> MERCHANT <<<<<<<< */
$mpc: #FFA520;
 
/* >>>>>>>> TRAVELER <<<<<<<< */
$tpc: #074D4C;


body{
    background-color: #f1f1f1;
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    overflow: hidden;
}
body, input, button, form{
    font-family: $primary-font;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
button{
    color: #fff;
    max-width: 148px;
    min-width: 98px;
    padding: 6px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
input{
    height: 32px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    padding-left: 7px;
}
