@import '../../../../src/styles.scss';
@import '../../app.component.scss';
@import '../admin-layout/admin-layout.component.scss';


.hub-container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 8px 20px;
  min-height: 98vh;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  border: 0.5px solid #ececec;
  padding: 18px;
  color: $apc;
}
.hub-container span{
  font-weight: 500;
}
.report-container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;

  header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2rem;
      color: #333;
    }
  }

  .report-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;

    .card {
      flex: 1 1 calc(50% - 20px);
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      h3 {
        margin-bottom: 10px;
        color: #555;
      }

      p {
        margin: 5px 0;
        color: #777;
      }
    }
  }
}

canvas {
  width: 100% !important;
  height: 300px !important;
}

.table-box {
  min-width: calc(120% - 125px);
  height: calc(50vh - 80px);
  background-color: #f1f1f1;
  border-radius: 7px;
  margin-top: 10px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 14px;
}

.table-header {
  width: 100%;
  border-collapse: collapse;
  flex: 0 0 auto;
}

.table-body {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden; 
}

.table-body table {
  width: 100%;
  border-collapse: collapse;
}

.table-header th, .table-body td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  align-items: center;
  
}

/* Set column widths */
.table-header th:nth-child(1), .table-body td:nth-child(1) {
  width: 6%;
  padding-left: 20px;
}

.table-header th:nth-child(2), .table-body td:nth-child(2) {
  width: 9%;
}

.table-header th:nth-child(3), .table-body td:nth-child(3) {
  width: 12%;
}

.table-header th:nth-child(4), .table-body td:nth-child(4) {
  width: 16%;
}

.table-header th:nth-child(5), .table-body td:nth-child(5) {
  width: 10%;
}

.table-header th:nth-child(6), .table-body td:nth-child(6) {
  width: 10%;
}

.table-header th:nth-child(7), .table-body td:nth-child(7) {
  width: 10%;
}

.table-header th:nth-child(8), .table-body td:nth-child(8) {
  width: 10%;
}

.table-header th:nth-child(9), .table-body td:nth-child(9) {
  width: 10%;
  padding-left: 20px;
}


.table-body button {
  background-color: $apc;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.table-body button:hover {
  background-color: $apc;
}


