<div class="register-business">
    <div class="back-icon" (click)="goBack()">
        <i class="bx bx-arrow-back"></i>
    </div>    
    <div class="content-container">
      <div class="illustration">
        <img src="business.png" alt="RegisterBusinessPic">
      </div>
      <div class="text-content">
        <h2>Join iWanderPH Today and Unlock Exclusive Benefits for Your Business!</h2>
        <ul class="benefits-list">
          <li><span class="icon">🌐</span> Enhanced visibility and reach.</li>
          <li><span class="icon">🎯</span> Targeted advertising.</li>
          <li><span class="icon">⭐</span> User-generated reviews and ratings.</li>
          <li><span class="icon">🔒</span> Secure and easy transactions.</li>
          <li><span class="icon">📊</span> Comprehensive performance analytics.</li>
          <li><span class="icon">🤝</span> Dedicated support.</li>
        </ul>
        <div class="apply-button">
            <button class="apply-now-button" (click)="navigateToRegister()">Apply Now</button>
        </div>
      </div>
    </div>
  </div>
  