<div class="panel" id="panel" *ngIf="showSettings" [@slideInOut]="showSettings">
    <div class="close-button">
      <div class="back-icon flex-row" (click)="closeSettings()" style="width: 70px;">
        <i class="bx bx-chevron-left"></i>
      </div>
      <div class="title">
        <span>Personal Information</span>
      </div>
      <input 
      type="submit" 
      value="Save" 
      (click)="updatePI()" />    
    </div>
  
    <div class="profile-form">
        <div class="form-group">
            <label for="displayName">First Name</label>
            <input id="displayName" type="text" [(ngModel)]="profile.FirstName" />
        </div>
        <div class="form-group">
            <label for="displayName">Last Name</label>
            <input id="displayName" type="text" [(ngModel)]="profile.LastName" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" [(ngModel)]="profile.Email" readonly />
        </div>
        <div class="form-group">
            <label for="birthday">Birthday</label>
            <input id="birthday" type="date" [(ngModel)]="profile.Birthday" readonly/>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input id="address" type="text" [(ngModel)]="profile.Address" />
        </div>
    </div>
  </div>
  