
  <div class="sidebar">
    <ul>
      <li class="active">
        <a routerLink="/admin/profile/profile-edit"> 
            <i class='bx bxs-user'></i>
            <span class = "links_name">My Profile</span>
        </a>
      </li> 

      <li class="active">
        <a routerLink="/admin/profile/security"> 
            <i class='bx bxs-user'></i>
            <span class = "links_name">Security</span>
        </a>
      </li> 

      <li class="active">
        <a routerLink="/admin/profile/notification"> 
            <i class='bx bxs-user'></i>
            <span class = "links_name">Notificaction</span>
        </a>
      </li> 

      <li class="active">
        <a routerLink="/admin/profile/add-account"> 
            <i class='bx bxs-user'></i>
            <span class = "links_name">Add Account</span>
        </a>
      </li> 

      <li class="active">
        <a routerLink="/admin/profile/delete-account"> 
            <i class='bx bxs-user'></i>
            <span class = "delete-account">Delete Account </span>
        </a>
      </li> 
      
    </ul>
  </div>


<div class="home-section">
  <router-outlet>
  </router-outlet>
</div>
